.squadUsuario__container {
    display: flex;
  }

.squadUsuario_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.squadUsuario_content h1{
  font-size: 35px;
  margin-left: 5%;
  margin-top: 40px;
  color: #016823;
  margin-bottom: 30px;
} 

.tabela_container{
  max-height: 370px;
  overflow: auto;
  margin-right: 10px;
}

.tabela_container::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.tabela_container::-webkit-scrollbar-track {
background: #d0d0d0; /* Cor de fundo do trilho da barra de rolagem */
border-radius: 5px;
}

.tabela_container::-webkit-scrollbar-thumb {
background: #016823; /* Cor de fundo do thumb */
border-radius: 5px; /* Borda arredondada do thumb */
}

.tabela{
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
}

.tabela tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.tabela tr:nth-child(even) {
  background-color: #d8d8d8;
}

.tabela th{
  color: #016823;
  font-size: 20px;
  padding: 15px;
}

.tabela th:first-child{
    text-align: left;
}

.tabela th:last-child{
    text-align: right;
}

.tabela_cabecalho th{
  background-color: #016823;
  color: white;
  padding: 10px 30px 10px 30px;
}

.tabela button{
  background-color: #016823;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 9px;
  cursor: pointer;
}

.tabela button:hover{
  filter: brightness(0.8);
}

.logout{
  position: absolute;
  cursor: pointer;
  bottom: 42px;
  right: 30px;
  margin-bottom: 30px;
}

.logout:hover{
  filter: brightness(0.7);
}