.MenuAdmin{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    background-color: #016823;
    height: 79vh;
}

.Menu__perfilAdmin{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.Menu__perfilAdmin img{
    width: 61px;
    height: 61px;
    margin-left: -20%;
    border-radius: 30px;
}

.Menu__perfilAdmin_content{
    display: flex;
    flex-direction: column;
}

.Menu__perfilAdmin_content p{
    color: white;
    margin-left: 10%;
    margin-top: 5px;
}

.Menu__perfilAdmin_content h5{
    color: white;
    white-space: nowrap;
    margin-left: 10%;
    font-size: 20px;
}

.MenuAdmin nav{
    margin-top: 50px;
}

.MenuAdmin ul{
    margin-left: 13%;
    margin-bottom: 10px;
}

.MenuAdmin a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.MenuAdmin a:hover{
    filter: brightness(0.8);
}

.Menu__navAdmin ul{
    list-style: none;
}

.Menu__navAdmin li{
    margin-bottom: 20px;
}

.Menu__perfil_home{
    position: absolute;
    bottom: 0;
    left: 30px;
    margin-bottom: 20px;
}
